body{
   background-color: #FEFCFB; 
}

#imageLogo{
    margin: -20px;
}

.nav-link{
    font-weight: bolder;
}

.btn-l{
    width: 20%; 
    color: #FD8D3A !important;
    font: bolder !important;

}

.btn-p{
    background-color: #FA7436 !important;
    width: 30%;
    border: #FA7436;
    font: bolder !important;

}

.row-initial{
    margin-top: 20px !important;
}

#col-initial{
    margin-left: 30px;
}

.btn-discover{
    margin-top: 2%;
    font-weight: bold !important;
    height: 3.2em;
    width: 8.5em;
    background-color: #FFFFFF;
    color: #FA7436 !important;
    
}

#Frame-2{
    margin-top: -668px;
    margin-left: -50px;
}

#divBlank{
    margin: 5.5em;
    background-color: aliceblue;
    width: 70em;
    padding: 2em;
}

#exploreNow{
    background-color: #FA7436 !important;
    width: 50%;
    border: #FA7436;
    font: bolder;
}

.container-steps{
    background-color: #F7F8FC;
}

.card-steps{
    background-color: #FFF8F5;
    width: 86% !important;
    border: 5% !important;
    border-color: #e20a0a14 !important;
    padding-top: 25px;
    padding-left:  20px;
    padding-bottom: 30px;
}

.card-steps img{
    margin-top: 5%;
    margin: 6%;
    width: 46px;
    height: 49px;
    }

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-deals-discounts{
    margin-top: 2em !important;
}

.city {
    display: flex;
    align-items: center;
}

.city img {
    margin-left: 2.8cm; 
}

.price {
    margin-top: 1cm; 
    display: flex;
    justify-content: space-between;
    white-space: nowrap; 
}

.price small svg {
    margin-right: 0.3rem; 
}

.price img {
    margin-right: 0.35rem;
}

.container-vacation-plan{
    margin-top: 2em !important;
}

.city-price{
    display: flex;
    margin-top: 6px;
    margin-left: 5px;
    align-items: center; 
}

#card-rome{
    margin-left: 2.0cm;
}

#card-london{
    margin-left: 2.0cm;
}

.city-price p {
    margin-left: 1.9cm;
    color: #FA7436;
    font-weight: bolder;
}

.days{
    display: flex;  
    justify-content: space-between;  
   }

.days small{
    margin: 8px;
}


.navigation{
    margin: 7px !important;
}

.Calification p{
    margin-top: 10px;
    margin-right: 0.10rem;
}

.container-legend-end{
    margin-top: 2em !important;
}

.container-cards-latest-blog{
    margin-top: 1em !important;
}

.container-foot {
    background-color: #F7F8FC;
    padding-top: 10%;
    }
    
    .encabezado {
      background-color: #FA7435;
      color: white;
      padding: 40px;
      border-radius: 10px;
    }
    #derechas{
      text-align: right;
    }

